body {
	padding-left: 1em;
	padding-right: 1em;}

p {
	line-height: 1.4em;
	text-align: justify;
	text-indent: 1em;}

.thank_you {
	width: 40%;
	display:inline-block;
	min-width: 25em;}

.centered {
	text-align: center;}

.block {
	height: 1em;
	background-color: black;}

.title {
	background-color: black;
	color: white;
	padding: 0.2em;
	padding-left: 2em;
	font-family: Courier, monospace;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-weight: bold;}

.price {
	font-style: italic;}

.content {
	width: 60%;}

.credits {
	font-style: italic;
	text-align: right;
	margin: 0px;}

.content_image {
	max-height: 50em;
	max-width: 100%;
	padding-left: 1em;
	padding-right: 1em;}

#footer {
	height: 10%;}

