body {
	margin: 0em;}

header {
	background-color: #000000;} 

header>h1{
	margin: 0em;
	color: white;}

.main_content{
	padding-left: 1em;
	padding-right: 1em;
	max-width: 40em;}

.piece>h1{
	margin: 1em, 0em;
	padding: 0.4em;
	font-size: 1em;
	background-color: #000000;
	color: white;
	font-family: "Courier New", Courier, monospace;
	letter-spacing: 0.2em;
	text-transform: uppercase;}

.piece>img{
	width: 100%;}
.piece>p{
	font-style: italic;}

#credits{
	margin: 0em;
	font-style: italic;
	text-align: right;
	padding-right: 1em;}
